src/main/java/twitter4j.properties
*.class
*.jar
*.war
*.ear
**/target/
/target/
*/target/*

.classpath
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath

# Eclipse Core
.project
